torch>=2.0.0
torchvision>=0.15.0
transformers>=4.44.0
accelerate>=0.33.0

qwen-vl-utils>=0.0.11
pillow>=10.0.0

trl>=0.9.6
peft>=0.11.1
datasets>=2.19.0
bitsandbytes>=0.43.0

Levenshtein
regex

tqdm>=4.65.0
numpy>=1.24.0
einops>=0.6.0
timm>=0.9.0
sentencepiece>=0.1.99
protobuf>=3.20.0p

wandb>=0.17.0
PyYAML>=6.0.0
google-genai
